services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql+psycopg2://postgres:123456@db:5432/movie_rating_db"
      URL_DATABASE: "postgresql+psycopg2://postgres:123456@db:5432/movie_rating_db"
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: movie_rating_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
